@charset "UTF-8";

body, html {
    height: 100%;
    margin: 0px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}

.pimg1 {
    background-image: url(../imagens/image1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(../imagens/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(../imagens/image3.jpg);
    min-height: 400px;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.section {
    text-align: center;
    padding: 54px 80px;
}

